<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<p class="lead mb-3 bg-primary">Welcome <%= user._id %></p>

<a href="/task" class="btn btn-secondary">Add Task</a>
<a href="/user/logout" class="btn btn-secondary">Logout</a>
<a href="/user/sendEmail" class="btn btn-secondary">Send Email</a>